#mainText
  %h2 About this site
  %p
    All the photographs on the site were taken by Harry Denholm. The
    %a{:href => "http://validator.w3.org/check?verbose=1&amp;uri=http%3A%2F%2Fwww.kaizeninternet.com%2Faboutus.html", :title => "Validate this page"}
      %abbr{:title => "Hypertext Markup Language"} HTML
    and
    %a{:href => "http://jigsaw.w3.org/css-validator/validator?profile=css2&amp;warning=2&amp;uri=http%3A%2F%2Fwww.kaizeninternet.com%2Faboutus.html", :title => "Validate this page's CSS"}
      %abbr{:title => "Cascading Style Sheets"} CSS
    were handcoded by Ben, and conform to the Web Content Accessibility Guidelines.
  %h2 Legal
  %p The names "Kaizen" and "Kaizen Internet" refer, in this domain, to Ben Saunders trading as Kaizen Internet.
#pagesMenu
  %ul.piped
    %li.noPipe
      %a{:href => "/"} home
    %li about us
