#mainText
  %p
    At Kaizen Internet, we specialise in turning complex graphic designs into clean, accessible websites. We spend our time keeping up to date on the latest developments in
    %abbr{:title => "HyperText Markup Language"} html
    and
    %abbr{:title => "Cascading Style Sheets"} css
    coding techniques and new browser technologies, so you can concentrate on creating striking page designs for your clients.
#pagesMenu
  %ul.piped
    %li.noPipe home
    %li
      %a{:href => "/about_us"} about us